header{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

svg{
    height:50px;
    width:40px
}
.button{
    display: flex;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding:8px;
    color:#e7ae11;
    border: 1px solid white;
    border-style: groove;
    border-radius:5% ;
}
 
.button:hover{
    border:1px solid white;
    color:white;
    background-color:#e7ae11 ;
}

@media screen and (max-width:700px) {
    header{
        flex-direction: column;
    }
    .right{
        flex-direction: column;
        margin-top: 5%;
    }
    .button{
        display: flex;
        width:100%
    }
}