.home-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-size: 25px;
}
.home-outer p{
    margin-top: 1%;
}
.create{
    display: flex;
    background-color: white;
    padding: 8px 23px;
    width:150%;
    height:100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5%;
    border:2px solid #e7ae11;
}
 
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.create:hover{
    border:1px solid white;
    color:white;
    background-color:#e7ae11 ;
}

@media screen and (max-width:700px) {
    .create{
        height:180%;
        width:200%;
        margin-top:7%;
    }
    .home-outer{
        text-align: center;
        margin-left: 6%;
    }

    .home-outer p{
        margin-top: 5%;
    }
}